.sideBar{
    width: 15%;
    height: 10vh;
    margin-right: 5px;
    margin-top: 20px;
    height: 478px;
    width: 183px;
    /* background-color: #2564c4; */
    border-radius: 31px;;
}

hr{
    background-color: rgb(197, 197, 197);
}

.sideBar_itemsContainer{
    color: white;
}

.sidebar_item_label {
    color: whitesmoke;
}